<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title= "{{ 'RESET_PASSWORD' | translate}}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">{{ 'RESET_PASSWORD' | translate}}</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
  
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="email"> {{ 'EMAIL' | translate}}
                        </label>
                        <input type="text" formControlName="email" class="form-control" id="email" [readOnly]="true"
                          placeholder="{{'PLACEHOLDERS.ENTER_EMAIL' | translate}}" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="old_password"> {{ 'OLD_PASSWORD' | translate}}
                          <span class="text-danger">*</span></label>
                        <input type="password" formControlName="old_password" class="form-control" maxlength="30"
                          id="old_password" placeholder="Enter Old Password" />
                        <div class="invalid-feedback" *ngIf="submitted && f.old_password.errors">
                          <div *ngIf="f.old_password.errors.required">
                            Old Password is required
                          </div>
                          <!-- <div *ngIf="f.confirm_password.errors.mustMatch">
                                Password does not match
                              </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="password">{{'Password' | translate}}
                          <span class="text-danger">*</span></label>
                        <input type="password" formControlName="password" class="form-control" maxlength="30"
                          id="password" placeholder="{{'PLACEHOLDERS.ENTER_PASSWORD' | translate}}" />
                        <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
                          <div *ngIf="f.password.errors.required">
                            {{'VALIDATION_MSGS.PASSWORD.REQUIRED' | translate}}
                          </div>
                          <div *ngIf="f.password.errors.pattern">
                            {{'VALIDATION_MSGS.PASSWORD.VALID' | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="confirm_password">{{'CONFIRM_PASSWORD' | translate}}
                          <span class="text-danger">*</span></label>
                        <input type="password" formControlName="confirm_password" class="form-control" maxlength="30"
                          id="confirm_password" placeholder="{{'PLACEHOLDERS.ENTER_PASSWORD_AGAIN' | translate}}"  />
                        <div class="invalid-feedback" *ngIf="submitted && f.confirm_password.errors">
                          <div *ngIf="f.confirm_password.errors.required">
                            Confirm Password is required
                          </div>
                          <div *ngIf="f.confirm_password.errors.mustMatch">
                            Password does not match
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="card-footer">
                  <button type="submit" [disabled]="adminLoader" class="btn btn-primary">
                    <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                    Submit
                  </button>
                  &nbsp;
                  <!-- <a
                      class="btn btn-warning"
                      [routerLink]="
                        authService.adminTypeValue === adminType.Super
                          ? ['/super-admin/subscribers/details', subscriberId]
                          : ['/agents/subscriber',subscriberId,adminId]
                      "
                    >
                      Cancel
                    </a> -->
                </div>
  
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
    </form>
  </div>