<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="{{'SUBSCRIBERS' | translate}}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div *ngIf="id>0" class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="search2">{{'ORGANIZATION' | translate}}</label>
                    <input type="text" class="form-control" id="search2" [readonly] = true
                    [(ngModel)]="org.name" />
                  </div>
                </div>
              </div>
              <div class="row">
               
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="currency_code"> {{'SEARCH' | translate}} </label>
                    <input type="text" class="form-control" id="search" (keyup)="filter($event)" onkeydown="javascript: return (event.keyCode == 53 || event.keyCode == 55 || event.keyCode == 189) ? false : true"
                      [(ngModel)]="params.search" placeholder="{{'PLACEHOLDERS.SEARCH_NAME_DOMAIN' | translate}}" />
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="currency_code"> {{'STATUS' | translate}} </label>
                  <select class="form-control" id="result" (change)="filter($event)" [(ngModel)]="params.status">
                    <option value="">{{'ALL' | translate}}</option>
                    <option value="Yes"> {{'ACTION_BUTTON.ACTIVE' | translate}} </option>
                    <option value="No"> {{'ACTION_BUTTON.IN_ACTIVE' | translate}}</option>
                  </select>
                </div>

                <div class="col-md-2" *ngIf="id==0">
                  <div class="form-group">
                    <label for="org">{{'ORGANIZATION'  | translate}}</label>
                    <select class="form-control" id="org" (change)="filter($event)" [(ngModel)]="params.org" >
                      <option value=""> {{'ALL' | translate}}</option>
                      <option *ngFor="let organization of organizations" [value]="organization.id">{{ organization.name }}</option>
                    </select>
                  </div>
                </div>


                <div class="col-md-1">
                  <div class="form-group">
                    <label for="currency_code"> {{'SIZE' | translate}} </label>
                    <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                      <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                  </div>
                </div>



                <div class="col-md-2">
                  <button type="button" class="mgt btn btn-warning" (click)="resetFilter()"> {{'ACTION_BUTTON.RESET_FILTER'
                    | translate}} </button>
                </div>

                <div *ngIf="id>0" class="col-md-4" >
                  <a class="mgt btn btn-success f-right" routerLink="/super-admin/subscribers/0"> {{'ACTION_BUTTON.CREATE' |
                    translate}} </a>
                </div>

                <div *ngIf="id==0" class="col-md-2" >
                  <a class="mgt btn btn-success f-right" routerLink="/super-admin/subscribers/0"> {{'ACTION_BUTTON.CREATE' |
                    translate}} </a>
                </div>

              </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="sort-column" [ngClass]="params.sort_by=='id' ? params.order :''" (click)="setOrder('id')">{{'ID' | translate}} </th>
                    <th class="sort-column" [ngClass]="params.sort_by=='subscriber_name' ? params.order :''" (click)="setOrder('subscriber_name')"> {{'NAME' | translate}}</th>
                    <th>{{'DOMAIN' | translate}}</th>
                    <th>{{'STATUS' | translate}}</th>
                    <th class="sort-column" [ngClass]="params.sort_by=='users_count' ? params.order :''" (click)="setOrder('users_count')">{{'PLAYERS' | translate}}</th>
                    <th class="sort-column" [ngClass]="params.sort_by=='created_at' ? params.order :''" (click)="setOrder('created_at')">{{'START_DATE' | translate}}</th>
                    <th>{{'ACTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let subscriber of subscribers | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                    <td>{{ subscriber.id }}</td>
                    <td> <a [routerLink]="['/super-admin/subscribers/details', subscriber.id]"> {{
                        subscriber.subscriber_name }} </a> </td>
                    <td><a [href]="subscriber.domain" target="_blank"> {{ subscriber.domain }} </a></td>
                    <td>
                      <ng-container [ngSwitch]="subscriber.status">

                        <ng-container *ngSwitchCase="'0'">
                          <span class="text-danger"> {{'ACTION_BUTTON.IN_ACTIVE' | translate}} </span>
                        </ng-container>

                        <ng-container *ngSwitchCase="'1'">
                          <span class="text-success"> {{'ACTION_BUTTON.ACTIVE' | translate}} </span>
                        </ng-container>

                        <ng-container *ngSwitchCase="'2'">
                          <span class="text-warning"> {{'EXPIRED' | translate}} </span>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                          <span class="text-danger"> {{'ACTION_BUTTON.IN_ACTIVE' | translate}} </span>
                        </ng-container>

                        <!-- <i *ngIf="subscriber.status == 3" [title]="'SENTENCES.CREDENTIAL_SUBSCRIBER_ACTIVE' | translate" class="text-warning fa fa-warning pull-right" aria-hidden="true"></i> -->

                      </ng-container>
                    </td>
                    <td> {{ subscriber.users_count }} 
                    </td>
                    <td>{{ subscriber.created_at | date }}</td>
                    <td>
                      <a *ngIf="canEdit" class="btn btn-warning fnt-12"
                        [routerLink]="['/super-admin/subscribers', subscriber.id]" title="{{ 'ACTION_BUTTON.EDIT' | translate }}" [state]="{ type: 'subscriber' }"> <i class="fas fa-edit"></i> </a>
                      &nbsp;

                      <a class="btn btn-info fnt-12" title="{{ 'DETAILS' | translate }}"
                        [routerLink]="['/super-admin/subscribers/details/', subscriber.id]"> <i class="fas fa-eye"></i>
                      </a>

                      &nbsp;

                      <a *ngIf="canEdit" title="{{ 'ACTION_BUTTON.CREATE' | translate }} {{ 'ADMIN' | translate }}" [routerLink]="['/agents/subscriber', subscriber.id, 0]"
                        class="fnt-12 btn btn-success"> <i class="fa fa-user-plus"></i> </a>

                      <!-- &nbsp;
                      <a *ngIf="canEdit" title="{{ 'ADVANCED' | translate }} {{ 'THEME_SETTINGS' | translate }}"  [routerLink]="['/super-admin/subscribers/theme-customization', subscriber.id , 1]"
                      class="fnt-12 btn btn-primary"> <i class="fa fa-palette"></i> </a> -->

                    &nbsp;
                      <ng-container *ngIf="canDisable">
                        <ng-container *ngIf="(subscriber.status == 1 || subscriber.status == 2); else activeSubscriber">
                          <button type="button" title="{{ 'ACTION_BUTTON.DISABLE'  | translate }}  {{ 'SUBSCRIBER' | translate }}" (click)="changeStatus(subscriber)" class="btn btn-danger fnt-12"> <i
                              class="fa fa-remove"></i> </button>
                        </ng-container>
                        <ng-template #activeSubscriber>
                          <button type="button"  title="{{ 'ENABLE'  | translate }} {{ 'SUBSCRIBER' | translate }}" (click)="changeStatus(subscriber)" class="btn btn-success fnt-12"> <i
                              class="fa fa-check"></i> </button>
                        </ng-template>
                      </ng-container>

                    </td>

                  </tr>

                  <tr *ngIf="subscribers && subscribers.length === 0">
                    <td colspan="5" class="tnodata"> {{'SENTENCES.SUBSCRIBER_404' | translate}} </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
