<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="{{'PLAYERS' | translate}}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a *ngIf="canCreate" [routerLink]="['/users', 0]" class="btn btn-success f-right fnt-12">
                {{'ACTION_BUTTON.CREATE' |
                translate}} </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <div class="row">

                <!-- <div class="col-md-2"
                  *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0;">
                  <label for="subscriber_id">{{'SUBSCRIBER' | translate}}</label>
                  <select class="form-control" style="width: 100%;" select2 id="subscriber_id"
                    (onSelect)="changeSubscriber($event)">
                    <option *ngFor="let subscriber of subscribers" [value]="subscriber.id">{{ subscriber.subscriber_name }}</option>
                  </select>
                </div>

                <div class="col-md-2" *ngIf="!this.subscriberAuthService.subscriberAdminTokenValue">
                  <div class="form-group">
                    <label for="search2">{{'REVENUE' | translate}}</label>
                    <input type="text" class="form-control" id="search2" [readonly] = true
                      [(ngModel)]="revenueData" placeholder=0 />
                  </div>
                </div> -->

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="search"> {{'SEARCH' | translate}} </label>
                    <input type="text" class="form-control" id="search" (keyup)="filterPlayers($event)"
                      onkeydown="javascript: return (event.keyCode == 53 || event.keyCode == 55 || event.keyCode == 189) ? false : true"
                      [(ngModel)]="playerParams.search" placeholder="Search by name or code" />
                  </div>
                </div>

                <div class="col-md-2" *ngIf="this.subscriberAuthService.subscriberAdminTokenValue">
                  <div class="form-group">
                    <label for="status">{{'STATUS' | translate}}</label>
                    <select class="form-control" id="status" (change)="filterPlayers($event)"
                      [(ngModel)]="playerParams.status">
                      <option value="">{{'ALL' | translate}}</option>
                      <option value="Yes">{{'ACTION_BUTTON.ACTIVE' | translate}}</option>
                      <option value="No">{{'ACTION_BUTTON.IN_ACTIVE' | translate}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2" *ngIf="this.subscriberAuthService.subscriberAdminTokenValue">
                  <div class="form-group">
                    <label for="online_status">{{'ACTIVITY' | translate}}</label>
                    <select class="form-control" id="online_status" (change)="filterPlayers($event)"
                      [(ngModel)]="playerParams.online_status">
                      <option value="">{{'ALL' | translate}}</option>
                      <option value="Yes">{{'ONLINE' | translate}}</option>
                      <option value="No">{{'AWAY' | translate}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="size2">{{'SIZE' | translate}}</label>
                    <select class="form-control" id="size2" (change)="filterPlayers($event)"
                      [(ngModel)]="playerParams.size">
                      <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <button type="button" class="mgt btn btn-warning fnt-12" (click)="playerResetFilter()">
                    {{'ACTION_BUTTON.RESET_FILTER' | translate}}
                  </button>
                </div>

                <!-- <div class="col-md-2 icheck-primary d-inline" *ngIf="this.subscriberAuthService.subscriberAdminTokenValue">
                  <input type="checkbox" (change)="changeCheckbox($event)" [(ngModel)]="active" id="checkboxPrimary1">
                  <label for="checkboxPrimary1">
                    {{'SHOW_ALL_USERS' | translate}}
                  </label>
                </div> -->

                <div class="col-md-2" *ngIf="selectedUsers.length > 0">
                  <div class="form-group">
                    <label for="promotional">{{'PLACEHOLDERS.SELECT_TEMPLATE' | translate}}</label>
                    <select class="form-control" id="promotional" [(ngModel)]="crmTemplate">
                      <option value=""> {{'PLACEHOLDERS.SELECT_TEMPLATE' | translate}} </option>
                      <option *ngFor="let pro of crmTemplates" [value]="pro.id"> {{ pro.subject }} </option>
                    </select>
                  </div>
                </div>

               

              </div>

              &nbsp;

              <table class="table table-bordered">
                <thead *ngIf="!this.subscriberAuthService.subscriberAdminTokenValue">
                  <tr>
                    <th>{{'ID' | translate}}</th>
                    <th>{{'NAME'| translate}}</th>
                    <!-- <th>{{'NICK_NAME' | translate}}</th> -->
                    <th>{{'CURRENCY_CODE' | translate}}</th>
                  </tr>
                </thead>
                <thead
                  *ngIf="this.subscriberAuthService.subscriberAdminTokenValue && this.subscriberAuthService.subscriberAdminTokenValue.length > 0">
                  <tr>
                    <th *ngIf="canEdit">
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" class="cst-check" (change)="selectAllUsers($event.target)"
                          id="checkboxPrimary">
                        <label for="checkboxPrimary"></label>
                      </div>
                    </th>
                    <th class="sort-column" [ngClass]="playerParams.sort_by=='id' ? playerParams.order :''"
                      (click)="setOrder('id')"> {{'ID' | translate}}</th>
                    <th class="sort-column" [ngClass]="playerParams.sort_by=='name' ? playerParams.order :''"
                      (click)="setOrder('name')">{{'NAME' | translate}}</th>
                    <th class="sort-column" [ngClass]="playerParams.sort_by=='user_code' ? playerParams.order :''"
                      (click)="setOrder('user_code')">{{'USER_CODE' | translate}}</th>
                    <th>{{'CURRENCY_CODE' | translate}}</th>
                    <th class="sort-column" [ngClass]="playerParams.sort_by=='user_bets_count' ? playerParams.order :''"
                      (click)="setOrder('user_bets_count')">{{'BETS' | translate}}</th>
                      <th>{{'FREEBETS' | translate}}</th>
                    <!-- <th>{{'FIRST_NAME' | translate}}</th>
                    <th>{{'LAST_NAME' | translate}}</th>
                    <th>{{'TOTAL_BALANCE' | translate}}</th> -->
                    <th>{{'STATUS' | translate}}</th>
                    <th>Activity Status</th>
                    <th>Last Active</th>
                    <th class="sort-column" [ngClass]="playerParams.sort_by=='last_bet' ? playerParams.order :''"
                      (click)="setOrder('last_bet')">Last Bet</th>

                    <th>{{'ACTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="!this.subscriberAuthService.subscriberAdminTokenValue">
                  <tr
                    *ngFor="let user of players | paginate: { itemsPerPage: playerParams.size, currentPage: playerP, totalItems: playerTotal, id: 'playerpid' }">

                    <td *ngIf="canEdit">
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" class="cst-check" (change)="selectUser($event.target, user)"
                          id="checkboxPrimary{{user.id}}">
                        <label for="checkboxPrimary{{user.id}}"></label>
                      </div>
                    </td>

                    <td> {{ user.id }} </td>
                    <td>{{
                      user.name }}</td>
                    <!-- <td>{{ user.nick_name || '--' }}</td> -->
                    <td>{{ user.currency_code }}</td>

                  </tr>
                  <tr *ngIf="players && players.length === 0">
                    <td [attr.colspan]="canEdit ? 9 : 8" class="tnodata"> {{'SENTENCES.USER_404' | translate}} </td>
                  </tr>
                </tbody>
                <tbody
                  *ngIf="this.subscriberAuthService.subscriberAdminTokenValue && this.subscriberAuthService.subscriberAdminTokenValue.length > 0">
                  <tr
                    *ngFor="let user of players | paginate: { itemsPerPage: playerParams.size, currentPage: playerP, totalItems: playerTotal, id: 'playerpid' }">

                    <td *ngIf="canEdit">
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" class="cst-check" (change)="selectUser($event.target, user)"
                          id="checkboxPrimary{{user.id}}">
                        <label for="checkboxPrimary{{user.id}}"></label>
                      </div>
                    </td>

                    <td> {{ user.id }} </td>
                    <td><a [routerLink]="['/users/detail', user.id]">{{
                      user.name }}</a></td>
                    <td>{{ user.user_code }}</td>
                    <td>{{ user.currency_code }}</td>
                    <th><a [routerLink]="['/crash-game/bet-history', user.id]"> {{ user.user_bets_count }}</a></th>
                    <td> {{ (user.free_bet.length>0  ? 'YES' : 'NO' )| translate}}</td>
                    <td> <span [ngClass]="user.status ? 'text-success':'text-danger'">{{ (user.status ?
                        'ACTION_BUTTON.ACTIVE' :
                        'ACTION_BUTTON.IN_ACTIVE') | translate }}</span> </td>
                        <td *ngIf="user.online_status==0">{{'AWAY' | translate}}</td>
                        <td *ngIf="user.online_status==1">{{'ONLINE' | translate}}</td>
                    <td>{{ (user.last_active==0 ? 'While Ago' : user.last_active ) }}</td>
                    <td> {{ (user?.last_bet ? user.last_bet : '-') | translate}}</td>
                   
                    <td>
                      <ng-container>
                        <ng-container *ngIf="user.status; else activeUser">
                          <button type="button" (click)="updatePlayerStatus(user, 0)"
                            class="btn btn-warning fnt-12">Deactivate</button>
                        </ng-container>
                        <ng-template #activeUser>
                          <button type="button" (click)="updatePlayerStatus(user, 1)"
                            title="{{ 'ACTION_BUTTON.ACTIVE'  | translate }} {{ 'USER'  | translate }}"
                            class="btn btn-success fnt-12">Activate</button>
                        </ng-template>
                      </ng-container>
                    </td>
                  </tr>
                  <tr *ngIf="players && players.length === 0">
                    <td [attr.colspan]="11" class="tnodata"> {{'SENTENCES.USER_404' | translate}} </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <pagination-controls id="playerpid" (pageChange)="playerPageChanged($event)"
              (pageChange)="playerP = $event"></pagination-controls>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>

</div>