<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="{{ 'GAME_HERO' | translate }}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> {{ title | translate }} </h3>
              <span style="float: right;">

              <!-- <button class="btn btn-success fnt-left" (click)="download()">Download Sample json and png</button> -->
              <a class="btn btn-success fnt-left" download="filename" target="_blank" href="/assets/dist/img/plane.png">
                {{'ACTION_BUTTON.DOWNLOAD_HERO_IMG' | translate}}
              </a>
              &nbsp;
              <a class="btn btn-success fnt-left" download="filename" target="_blank" href="/assets/dist/json/plane.json">
                {{'ACTION_BUTTON.DOWNLOAD_HERO_JSON' | translate}}
               </a>
              </span></div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
              <div class="card-body">





                <div class="form-group">
                  <label for="pngFile">{{'HERO_IMG' | translate}} <span class="text-danger">*</span></label>
                  <input type="file" (change)="selectFile2(file.files)" #file formControlName="pngFile" accept=".png" class="form-control" id="pngFile"
                    placeholder="{{'PLACEHOLDERS.ENTER_NAME' | translate}}" />
                  <div class="invalid-feedback" *ngIf="submitted && f.pngFile.errors">
                    <div *ngIf="f.pngFile.errors.required">{{'SENTENCES.IMAGE_REQUIRED' | translate}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="jsonFile">{{'HERO_JSON' | translate}} <span class="text-danger">*</span></label>
                  <input type="file" (change)="selectFile(file1.files)" #file1 formControlName="jsonFile" accept=".json" class="form-control" id="jsonFile"
                    placeholder="{{'PLACEHOLDERS.ENTER_NAME' | translate}}" />
                  <div class="invalid-feedback" *ngIf="submitted && f.jsonFile.errors">
                    <div *ngIf="f.jsonFile.errors.required">{{'VALIDATION_MSGS.JSON_FILE.REQUIRED' | translate}}</div>
                  </div>
                  &nbsp;
                  <div
                  class="alert alert-warning">
                  {{'SENTENCES.WARNING_HERO' | translate}}   </div>
                </div>


              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <div class="alert alert-danger" *ngIf="(id == 0 && !canCreate)">
                  {{'SENTENCES.NO_PERMISSION_CREATE_CURRENCIES' | translate}}</div>

                <div class="alert alert-danger" *ngIf="(id > 0 && !canEdit)">
                  {{'SENTENCES.NO_PERMISSION_UPDATE_CURRENCIES' | translate}}</div>

                <ng-container *ngIf="(id == 0 && canCreate) || (id > 0 && canEdit)">
                  <button type="submit" [disabled]="currencyLoader" class="btn btn-primary"> <span
                      *ngIf="currencyLoader" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span> {{'ACTION_BUTTON.SUBMIT' | translate}} </button>
                  &nbsp;
                </ng-container>
                <a routerLink="/super-admin/subscribers/list/0" class="btn btn-warning"> {{'ACTION_BUTTON.CANCEL' | translate}}
                </a>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->

    </div><!-- /.container-fluid -->
  </section>


</div>


