<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="{{'CREDENTIALS' | translate}}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a *ngIf="remainingCredentials.length > 0"
                [routerLink]="(authService.adminTypeValue === adminType.Subscriber) ? ['/settings/subscribers/credentials', 0] : ['/settings/tenants/credentials', 0]"
                [state]="{ tenant: authService.adminTypeValue === adminType.Subscriber ? { id: tenantDetials?.id } : tenantDetials?.tenants, remcreds: remainingCredentials }"
                class="fnt-12 f-right btn btn-success">{{'ACTION_BUTTON.CREATE' | translate}}</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th  >{{'ID' | translate}}</th>
                    <th>{{'KEY' | translate}}</th>
                    <th>{{'VALUE' | translate}}</th>
                    <th>{{'DESCRIPTION' | translate}}</th>
                    <th>{{'ACTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let credential of tenantDetials?.credentials">
                    <td>{{ credential.id }}</td>
                    <td>{{ credential.key }}</td>
                    <td>{{ credential.value }}</td>
                    <td>{{ credential.description ? credential.description : 'NA' }}</td>
                    <td *ngIf="canEdit"><a class="btn btn-warning fnt-12"
                        [routerLink]="(authService.adminTypeValue === adminType.Subscriber) ? ['/settings/subscribers/credentials', credential.id] : ['/settings/tenants/credentials', credential.id]"
                        [state]="{credential: credential, tenant: { id: authService.adminTypeValue === adminType.Subscriber ? credential.subscriber_id : credential.tenant_id } }">
                        {{'ACTION_BUTTON.EDIT' | translate}} </a></td>
                  </tr>

                  <tr *ngIf="tenantDetials?.credentials?.length === 0">
                    <td colspan="5" class="tnodata"> {{'SENTENCES.CREDENTIALS_404' | translate}} </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>

</div>
